<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kzl.rm.dao.CommentMapper">
	<resultMap id="BaseResultMap" type="com.kzl.rm.bean.Comment">
		<id column="comment_id" jdbcType="BIGINT" property="commentId" />
		<result column="observer_account" jdbcType="VARCHAR" property="observerAccount" />
		<result column="article_id" jdbcType="BIGINT" property="articleId" />
		<result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
		<result column="reviewer_account" jdbcType="VARCHAR" property="reviewerAccount" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.kzl.rm.bean.Comment">
		<result column="comment_content" jdbcType="LONGVARCHAR"
			property="commentContent" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		comment_id, observer_account, article_id, comment_time, reviewer_account
	</sql>
	<sql id="Blob_Column_List">
		comment_content
	</sql>
	<select id="selectByExampleWithBLOBs" parameterType="com.kzl.rm.bean.CommentExample"
		resultMap="ResultMapWithBLOBs">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from comment
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByExample" parameterType="com.kzl.rm.bean.CommentExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from comment
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from comment
		where comment_id = #{commentId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from comment
		where comment_id = #{commentId,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.kzl.rm.bean.CommentExample">
		delete from comment
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.kzl.rm.bean.Comment">
		insert into comment (comment_id, observer_account, article_id,
		comment_time, reviewer_account, comment_content
		)
		values (#{commentId,jdbcType=BIGINT}, #{observerAccount,jdbcType=VARCHAR},
		#{articleId,jdbcType=BIGINT},
		#{commentTime,jdbcType=TIMESTAMP}, #{reviewerAccount,jdbcType=VARCHAR},
		#{commentContent,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.kzl.rm.bean.Comment">
		insert into comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="commentId != null">
				comment_id,
			</if>
			<if test="observerAccount != null">
				observer_account,
			</if>
			<if test="articleId != null">
				article_id,
			</if>
			<if test="commentTime != null">
				comment_time,
			</if>
			<if test="reviewerAccount != null">
				reviewer_account,
			</if>
			<if test="commentContent != null">
				comment_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="commentId != null">
				#{commentId,jdbcType=BIGINT},
			</if>
			<if test="observerAccount != null">
				#{observerAccount,jdbcType=VARCHAR},
			</if>
			<if test="articleId != null">
				#{articleId,jdbcType=BIGINT},
			</if>
			<if test="commentTime != null">
				#{commentTime,jdbcType=TIMESTAMP},
			</if>
			<if test="reviewerAccount != null">
				#{reviewerAccount,jdbcType=VARCHAR},
			</if>
			<if test="commentContent != null">
				#{commentContent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.kzl.rm.bean.CommentExample"
		resultType="java.lang.Long">
		select count(*) from comment
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update comment
		<set>
			<if test="record.commentId != null">
				comment_id = #{record.commentId,jdbcType=BIGINT},
			</if>
			<if test="record.observerAccount != null">
				observer_account = #{record.observerAccount,jdbcType=VARCHAR},
			</if>
			<if test="record.articleId != null">
				article_id = #{record.articleId,jdbcType=BIGINT},
			</if>
			<if test="record.commentTime != null">
				comment_time = #{record.commentTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.reviewerAccount != null">
				reviewer_account = #{record.reviewerAccount,jdbcType=VARCHAR},
			</if>
			<if test="record.commentContent != null">
				comment_content = #{record.commentContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExampleWithBLOBs" parameterType="map">
		update comment
		set comment_id = #{record.commentId,jdbcType=BIGINT},
		observer_account = #{record.observerAccount,jdbcType=VARCHAR},
		article_id = #{record.articleId,jdbcType=BIGINT},
		comment_time = #{record.commentTime,jdbcType=TIMESTAMP},
		reviewer_account = #{record.reviewerAccount,jdbcType=VARCHAR},
		comment_content = #{record.commentContent,jdbcType=LONGVARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update comment
		set comment_id = #{record.commentId,jdbcType=BIGINT},
		observer_account = #{record.observerAccount,jdbcType=VARCHAR},
		article_id = #{record.articleId,jdbcType=BIGINT},
		comment_time = #{record.commentTime,jdbcType=TIMESTAMP},
		reviewer_account = #{record.reviewerAccount,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.kzl.rm.bean.Comment">
		update comment
		<set>
			<if test="observerAccount != null">
				observer_account = #{observerAccount,jdbcType=VARCHAR},
			</if>
			<if test="articleId != null">
				article_id = #{articleId,jdbcType=BIGINT},
			</if>
			<if test="commentTime != null">
				comment_time = #{commentTime,jdbcType=TIMESTAMP},
			</if>
			<if test="reviewerAccount != null">
				reviewer_account = #{reviewerAccount,jdbcType=VARCHAR},
			</if>
			<if test="commentContent != null">
				comment_content = #{commentContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where comment_id = #{commentId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kzl.rm.bean.Comment">
		update comment
		set observer_account = #{observerAccount,jdbcType=VARCHAR},
		article_id = #{articleId,jdbcType=BIGINT},
		comment_time = #{commentTime,jdbcType=TIMESTAMP},
		reviewer_account = #{reviewerAccount,jdbcType=VARCHAR},
		comment_content = #{commentContent,jdbcType=LONGVARCHAR}
		where comment_id = #{commentId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.kzl.rm.bean.Comment">
		update comment
		set observer_account = #{observerAccount,jdbcType=VARCHAR},
		article_id = #{articleId,jdbcType=BIGINT},
		comment_time = #{commentTime,jdbcType=TIMESTAMP},
		reviewer_account = #{reviewerAccount,jdbcType=VARCHAR}
		where comment_id = #{commentId,jdbcType=BIGINT}
	</update>
	<select id="selectByArticleId" parameterType="java.lang.Long"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from comment
		where article_id = #{articleId,jdbcType=BIGINT}
		order by comment_time Desc
	</select>
	<select id="selectByArticleId" 
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from comment
		where article_id = #{articleId,jdbcType=BIGINT}
		and observer_account !=#{observerAccount,jdbcType=VARCHAR}
		order by comment_time Desc
	</select>
</mapper>