<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kzl.rm.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.kzl.rm.bean.User">
		<id column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="user_account" jdbcType="VARCHAR" property="userAccount" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="user_identity" jdbcType="TINYINT" property="userIdentity" />
		<result column="position" jdbcType="VARCHAR" property="position" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="telephone" jdbcType="VARCHAR" property="telephone" />
		<result column="personal_image_id" jdbcType="BIGINT" property="personalImageId" />
		<result column="birthday" jdbcType="VARCHAR" property="birthday" />
		<result column="password" jdbcType="VARCHAR" property="password" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		user_id, user_account, user_name, user_identity, position,
		email, telephone,
		personal_image_id,
		birthday, password
	</sql>
	<select id="selectByExample" parameterType="com.kzl.rm.bean.UserExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where user_id = #{userId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user
		where user_id = #{userId,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.kzl.rm.bean.UserExample">
		delete from user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.kzl.rm.bean.User">
		insert into user (user_id,
		user_account, user_name,
		user_identity, position, email,
		telephone,
		personal_image_id, birthday,
		password)
		values
		(#{userId,jdbcType=BIGINT}, #{userAccount,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{userIdentity,jdbcType=TINYINT},
		#{position,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{telephone,jdbcType=VARCHAR}, #{personalImageId,jdbcType=BIGINT},
		#{birthday,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.kzl.rm.bean.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="userAccount != null">
				user_account,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="userIdentity != null">
				user_identity,
			</if>
			<if test="position != null">
				position,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="personalImageId != null">
				personal_image_id,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="password != null">
				password,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="userAccount != null">
				#{userAccount,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userIdentity != null">
				#{userIdentity,jdbcType=TINYINT},
			</if>
			<if test="position != null">
				#{position,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="personalImageId != null">
				#{personalImageId,jdbcType=BIGINT},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.kzl.rm.bean.UserExample"
		resultType="java.lang.Long">
		select count(*) from user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update user
		<set>
			<if test="record.userId != null">
				user_id = #{record.userId,jdbcType=BIGINT},
			</if>
			<if test="record.userAccount != null">
				user_account = #{record.userAccount,jdbcType=VARCHAR},
			</if>
			<if test="record.userName != null">
				user_name = #{record.userName,jdbcType=VARCHAR},
			</if>
			<if test="record.userIdentity != null">
				user_identity = #{record.userIdentity,jdbcType=TINYINT},
			</if>
			<if test="record.position != null">
				position = #{record.position,jdbcType=VARCHAR},
			</if>
			<if test="record.email != null">
				email = #{record.email,jdbcType=VARCHAR},
			</if>
			<if test="record.telephone != null">
				telephone = #{record.telephone,jdbcType=VARCHAR},
			</if>
			<if test="record.personalImageId != null">
				personal_image_id =
				#{record.personalImageId,jdbcType=BIGINT},
			</if>
			<if test="record.birthday != null">
				birthday = #{record.birthday,jdbcType=VARCHAR},
			</if>
			<if test="record.password != null">
				password = #{record.password,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update user
		set user_id = #{record.userId,jdbcType=BIGINT},
		user_account = #{record.userAccount,jdbcType=VARCHAR},
		user_name =
		#{record.userName,jdbcType=VARCHAR},
		user_identity =
		#{record.userIdentity,jdbcType=TINYINT},
		position =
		#{record.position,jdbcType=VARCHAR},
		email =
		#{record.email,jdbcType=VARCHAR},
		telephone =
		#{record.telephone,jdbcType=VARCHAR},
		personal_image_id =
		#{record.personalImageId,jdbcType=BIGINT},
		birthday =
		#{record.birthday,jdbcType=VARCHAR},
		password =
		#{record.password,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.kzl.rm.bean.User">
		update user
		<set>
			<if test="userAccount != null">
				user_account = #{userAccount,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userIdentity != null">
				user_identity = #{userIdentity,jdbcType=TINYINT},
			</if>
			<if test="position != null">
				position = #{position,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="personalImageId != null">
				personal_image_id = #{personalImageId,jdbcType=BIGINT},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
		</set>
		where user_id = #{userId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.kzl.rm.bean.User">
		update user
		set
		user_account = #{userAccount,jdbcType=VARCHAR},
		user_name =
		#{userName,jdbcType=VARCHAR},
		user_identity =
		#{userIdentity,jdbcType=TINYINT},
		position =
		#{position,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		telephone = #{telephone,jdbcType=VARCHAR},
		personal_image_id =
		#{personalImageId,jdbcType=BIGINT},
		birthday =
		#{birthday,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR}
		where user_id = #{userId,jdbcType=BIGINT}
	</update>
	<select id="findUserByAccountAndPassword" parameterType="java.lang.String"
		resultType="java.lang.Long">
		select count(*) from user
		where user_account =
		#{userAccount,jdbcType=VARCHAR}
		and password =
		#{password,jdbcType=VARCHAR}
	</select>
	<select id="findUserByAccount" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where user_account = #{userAccount,jdbcType=VARCHAR} 
	</select>
</mapper>